<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/event.css" />
  </head>

  <body>
    <header>
      <h1>HY-CoRA</h1>

      <div class="nav">
        <ul>
          <li><a href="./">Comments</a></li>
          <li>/</li>
          <li><a href="/event">Event</a></li>
          <li>/</li>
          <li><a href="/users">Contributor</a></li>
        </ul>
      </div>
    </header>

    <main>
      <h1>2022년 2학기 가두모집 추첨 이벤트</h1>
      <p>행사기간 : 3월 10일 ~ 3월 11일 15시 59분</p>
      <p><span id="time"></span></p>

      <hr/>
      <h2>설명</h2>
      <p>이 페이지는 동아리에서 프로젝트로 자체 제작한 웹 페이지입니다.</p>
      <p>게임에 참여하고, 추첨을 통해 회장/부회장과 <b>밥</b>을 얻어 먹을 수 있는 기회가 주어집니다!</p>
      <p>(동아리 가입 인원 한정)</p>
      <p>게임에 참여하려면, 자신의 이름과 학번(10자리)을 입력해 주세요.</p>
      <hr/>
      <h2>상품</h2>
      <p>5명 : 회장 도소라가 쏜다! "밥 묵짜!"❤️</p>
      <p>5명 : 부회장 박지수가 쏜다! "커먼커먼 부회장이 밥 사준다!"❤️</p>
      <hr/>
      <div id="play">
        <form action="http://hycora-temp.herokuapp.com/" method="POST">
          <label for="name"
            >이름 <input type="text" name="name" id="name" autocomplete="off"
          /></label>

          <label for="name"
            >학번
            <input
              type="number"
              name="studentId"
              id="studentId"
              autocomplete="off"
          /></label>

          <input type="submit" class="btn btn-warning" value="게임시작" />
        </form>
      </div>
      <h2>랭킹</h2>
      <ol>
        <% rank.forEach((row, i) => { %>
          <% if (i == 0) { %>
            <li class="winner">
              <%= row.name %> (<%= row.student_id %>) : <%= row.record %>점 (시도 : <%= row.tries %>회)
            </li>
          <% } else { %>
            <li>
              <%= row.name %> (<%= row.student_id %>) : <%= row.record %>점 (시도 : <%= row.tries %>회)
            </li>
          <% } %>
        <% }); %>
      </ol>
    </main>

    <footer>
      <div>
        <h1>HY-CoRA</h1>
        <p>경기도 안산시 상록구 한양대학로55 학생복지관4층 425호</p>
      </div>
    </footer>

    <!-- required for hot reload -->
    <script src="/reload/reload.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/event.js"></script>
  </body>
</html>
