<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/event.css" />
  </head>

  <body>
    <header>
      <h1>HY-CoRA</h1>

      <div class="nav">
        <ul>
          <li><a href="./">Comments</a></li>
          <li>/</li>
          <li><a href="/event">Event</a></li>
          <li>/</li>
          <li><a href="/users">Contributor</a></li>
        </ul>
      </div>
    </header>

    <main>
      <h1>2021 2학기 하이코라 기말고사 야식 이벤트</h1>
      <p>행사기간 : 3월 10일 ~ 3월 11일 15시 59분</p>
      <p><span id="time"></span></p>
      <hr />
      <p>1등 : 골드킹 콤보+치즈볼+콜라</p>
      <p>2등 : 회장 & 부회장 식사권(12월 17일 점심 식사)</p>
      <p>3등 : 투썸플레이스 떠먹는 아이스박스+아메리카노</p>
      <p>4등 : 골드킹 콤보+치즈볼+콜라</p>
      <p>5 ~ 10등 : 투썸플레이스 떠먹는 아이스박스+아메리카노</p>
      <p>11등 : 스타벅스 카페라떼 Tall+미니 클래식 스콘</p>
      <hr />
      <h2>도전 방법</h2>
      <p>자신의 이름과 학번을 정확하게 입력해 주세요.</p>
      <hr />
      <div id="play">
        <form action="http://hycora-temp.herokuapp.com/" method="POST">
          <label for="name"
            >이름 <input type="text" name="name" id="name" autocomplete="off"
          /></label>

          <label for="name"
            >학번
            <input
              type="number"
              name="studentId"
              id="studentId"
              autocomplete="off"
          /></label>

          <input type="submit" class="btn btn-warning" value="게임시작" />
        </form>
      </div>
      <h2>랭킹</h2>
      <ol>
        <% rank.forEach((row, i) => { %>
          <% if (i == 0) { %>
            <li class="winner">
              <%= row.name %> (<%= row.student_id %>) : <%= row.record %>점 (시도 : <%= row.tries %>회)
            </li>
          <% } else { %>
            <li>
              <%= row.name %> (<%= row.student_id %>) : <%= row.record %>점 (시도 : <%= row.tries %>회)
            </li>
          <% } %>
        <% }); %>
      </ol>
    </main>

    <footer>
      <div>
        <h1>HY-CoRA</h1>
        <p>경기도 안산시 상록구 한양대학로55 학생복지관4층 425호</p>
      </div>
    </footer>

    <!-- required for hot reload -->
    <script src="/reload/reload.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/event.js"></script>
  </body>
</html>
