<!DOCTYPE html>
<html>


<style>
	table {
		width: 100%;
		border: 1px solid #444444;
		text-align: center;
	}
</style>

<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript">
		// query 결과를 javascript object로 가져오기
		var userDataObj = <%- JSON.stringify(userData) %>
		console.log(userDataObj)
	</script>
</head>

<body>	
	<h1>Users</h1>
	<ul id="nav">
	  <li><a href="./">Comments</a></li>
	  <li><a href="/users">Information</a></li>	  
	</ul>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Major</th>
			<th>Github_id</th>
		</tr>
	<!-- EJS 문법 : foreach -->
	<% for (var user of userData) { %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.major %></td>
			<td><%= user.github_id %></td>
		</tr>
	<% } %>
	</table>
	<!-- required for hot reload -->
	<script src="/reload/reload.js"></script>
</body>

</html>